{% extends 'base.html' %}

{% block container %}

  <h1 class="display-5 mt-4">Летим {{ departures[direction] }}</h1>

  {% set min_price = tours_from_direction|min(attribute='price') %}
  {% set max_price = tours_from_direction|max(attribute='price') %}
  {% set min_nights = tours_from_direction|min(attribute='nights') %}
  {% set max_nights = tours_from_direction|max(attribute='nights') %}
  <p class="mb-4">Найдено {{ tours_from_direction|length }} туров, от {{ min_price.price }} до {{ max_price.price }} и от {{ min_nights.nights }} ночей до {{ max_nights.nights }} ночей</p>

  <!-- CARDS -->

  <div class="row mt-5">

  {% for k, tour in tours.items() %}
      {% if tour.departure == direction %}
      <div class="col-4">
          <div class="card mb-3" >
          <img src="{{ tour.picture }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h5 class="card-title">{{ tour.title }}</h5>
           <p class="card-text">{{ tour.description|truncate(100) }}</p>
              <a href="/tours/{{ k }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
      </div>
      </div>
      {% endif %}
  {% endfor %}

  </div>

{% endblock %}
